---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
---
Language: Cpp
 
# Force pointers to the type for C++.
DerivePointerAlignment: true
PointerAlignment: Left
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 100
IndentCaseLabels: false
SpaceBeforeRangeBasedForLoopColon: true